body {
    margin: 0;
    padding: 0 ;
    font-family: Georgia, serif;
}
.head-section h4 {
    margin: 0;
    padding: 0;
}

.head-section{
    position: relative;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: #B22222;
}
h4{
    position: relative;
    top:25px;
    color: aliceblue;
    margin: 0;
    margin-left: 100px;


}
.train-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    
}
.train-lines{
    position: relative;
    height: 45px;
    padding-right: 20px;
    top: -15px;
}

.info-box{
    background-color: black;
    width: 100px ;
    height: 100px ;
}