body {
    margin: 0;
    padding: 0 ;
    font-family: Georgia, serif;
    background-color: rgb(245, 245, 245);
}
.head-section h4 {
    margin: 0;
    padding: 0;
}

.head-section{
    position: relative;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: #B22222;
}
h4{
    position: relative;
    top:25px;
    color: aliceblue;
    margin: 0;
    margin-left: 100px;


}
.train-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    
}
.train-lines{
    position: relative;
    height: 45px;
    padding-right: 20px;
    top: -15px;
}

.big-four{
    position: fixed;
    top: 50%;
    left: 60px;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    /*
    border-radius: 190%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */

}
hr{
   border: none;
    height: 4px; 
    background-color: rgb(205, 203, 203);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%
}
.info-box{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #F7A261;
    margin: auto;
    width: 95% ;
    height: 600px ;
}

.analysis-section{
    display: flex;
    flex-direction: column;
    position: relative;

    .analysis-section-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    width: 500px;
    height: 500px;
    position: relative;
    left: 58%;
    top: -115px;

}

}