<<<<<<< HEAD
body {
    background-color: gray;
        }
        h1 {
            color: whitesmoke;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
<<<<<<< HEAD
        }
=======
        }
>>>>>>> 944cf3b46e825fc0415aef58af5719e796197ca7
